@tailwind base;
@tailwind components;
@tailwind utilities;


$main-bg: #1A1B1E;
$sidebar-txt-color: #8a96a3;
$txt-color-1: #ffffff;

body {
  font-family: "Lato", sans-serif;
}

// TITLE BAR

.titlebar {
  background-color: rgba(0, 0, 0, 50%);
  height: 40px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  padding-inline: 2px;
}

.titlebar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  margin-inline: 3px;
  padding: 0;
}

.titlebar-button:last-child {
  margin-right: 6px;
}

.titlebar-button:hover {
  background: #303030;
}

#titlebar-close:hover {
  background-color: #e06c75;
}

// SIDE BAR

.sidebar {
  height: 100%;
  width: 58px;
  position: fixed;
  top: 40px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #24292e;
  border-right: solid 1px #4a555f;
}


.sidebar-icon {
  width: 30px;
  height: 30px;
}

.sidebar-icon-btn{
  color: $sidebar-txt-color;
}

.sidebar-icon-btn:hover{
  color: $txt-color-1;
}

.sidebar a:hover {
  color: #f1f1f1;
}

// MAIN

.main {
  margin-left: 58px; /* 58px for sidebar */
  font-size: 28px; /* Increased text to enable scrolling */
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 0;
  background: $main-bg;
}

.main-header {
  color: $txt-color-1;
}

.btn-primary{
  background-color: #267BAB;
  border: solid 1px #3697CE;
  cursor: pointer;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1));
}

.btn-primary > .btn-icon {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

body{
  background: $main-bg;
}

.server-status-card{
  background-color: #25262B;
  border: solid 1px #1E2022;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1));
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
  color: $txt-color-1;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }